<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{- © }}
    <time>{{ now | date: %Y }}</time>
    <em class="fst-normal">Bring The Dog Training LLC</em>.
  </p>

  <p>
    <a href="mailto:peter@bringthedogtraining.com">peter@bringthedogtraining.com</a>
    <span aria-hidden="true"> · </span>
    <span>Text: 417-470-0138</span>
  </p>
</footer>
